<form action="/login" method="post">
  <legend>Employee Login</legend>
  <label for="POST-name">Username:</label><br>
  <input id="POST-name" type="text" name="username"><br>
  <br>
  <label for="POST-password">Password:</label><br>
  <input id="POST-password" type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
